/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT STYLES */
:root {
    font-size: 20px;
}

/* MAIN NAVBAR STYLES */
.main-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #3c4380;
}

.main-nav-links {
    display: flex;
    gap: 0.5rem;
}