/* RESET STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ROOT STYLES */
:root {
    font-size: 20px;
}

/* MAIN STYLES */
a {
    text-decoration: none;
}

/* MAIN NAVBAR STYLES */
.main-nav {
    align-items: center;
    background-color: #3c4380;
    display: flex;
    justify-content: space-between;
}

.site-logo {
    padding: 0.25rem 0.50rem;
}

/* NEWS NAVBAR STYLES */
.news-nav {
    display: flex;
    justify-content: space-around;
}