/* RESET STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ROOT STYLES */
:root {
    font-size: 20px;
}

/* MAIN STYLES */
body {
    background-color: #d0d0d0;
}

a {
    text-decoration: none;
}

/* HEADER STYLES */
.site-header {
    align-items: center;
    background-color: #3c4380;
    display: flex;
    justify-content: center;
}

.site-logo {
    padding: 0.25rem 0.50rem;
}

/* NEWS NAVBAR STYLES */
.news-nav {
    background-color: #2f3566;
    display: flex;
    font-size: 1.10rem;
    justify-content: space-around;
}

.news-nav-link {
    border-bottom: 0.2rem solid #2f3566;
    color: #FFFFFF;
    padding: 0.5rem 0;
}

.news-nav-link:hover {
    border-bottom: 0.2rem solid #FFFFFF;
}

/* TRENDING ARTICLE STYLES */
.trending {
    display: grid;
    gap: 0.50rem;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    width: 60%;
}